* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: rgba(131,58,180,1);
    color: white;
    border-left: 5px solid rgb(201, 127, 250);
    display: flex;
    /* justify-content: right; */
}

.header-buttons {
    display: flex;
    justify-self: right;
}

h1 {
    padding-top: 10px;
}

#statBlock {
    font-size: 35px;
    padding: 5px;
    border: 5px solid black;
    width: 45px;
    height: 43px;
    text-align: center;
    margin-bottom: 5px ;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    margin: 15px;
}

.rolls {
    display: flex;
    flex-wrap: wrap;
}

.rolled-stats {
    display: flex;
    flex-wrap: wrap;
}

.link-button {
    border: 5px solid white;
    color: rgba(131,58,180,1);
    background-color: white;
    margin: 4px 15px 4px 15px;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;
}

.link-button:hover {
    border: 5px solid white;
    color: white;
    background-color: rgba(131,58,180,1);
}

.button {
    border: 5px solid rgba(131,58,180,1);
    color: white;
    background-color: rgba(131,58,180,1);
    margin: 4px 2px 4px 15px;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    border: 5px solid rgba(131,58,180,1);
    color: rgba(131,58,180,1);
    background-color: white;
}

.block-text {
    margin-left: 0px;
}

p {
    margin-left: 15px;
}

h2 {
    margin-left: 15px;
    margin-top: 15px;
}

ul {
    margin-left: 15px;
}

li {
    margin-left: 15px;
}